*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    border: 2px solid black;
    height: 500px;
    width: 1280px;
}
.header{
    /* border: 2px solid green; */
    padding: 5rem;
    height: 500px;
    width: 1280px;
}
.titulos{
    text-align: center;
    margin-bottom: 4.625rem;
}
.titulo-fotografo{
    /* border: 2px solid yellow; */
    margin-bottom: 2rem;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
}
.titulo-nome{
    /* border: 2px solid darkblue; */


    letter-spacing: 0.295rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}
.navbar{
    border: 1px solid black;

    font-family: 'Inter', sans-serif;
    margin: 0 20rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    padding: 24px;
    gap: 54px;
}
.navbar-link{
    text-decoration: none;
    color: black;
}
.main{
    /* border: 2px solid black; */
    border-top: none;
    background-color: darkgrey;
    height: 694.85px;
    width: 1278px;

    display: grid;
    grid-template-areas: 
     'foto1 foto1 foto2'
     'foto3 foto4 foto2'
    ;
}
.foto1{
    grid-area: foto1;
}
.foto2{
    grid-area: foto2;
}
.foto3{
    grid-area: foto3;
}
.foto4{
    grid-area: foto4;
}
.footer{
    border: 2px solid black;
    height: 302px;
    width: 1280px;
}
.nomes{
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    margin-top: 5rem;
    margin-bottom: 2rem;
}
.icons{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.icons-link{
    text-decoration: none;
}
